<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhnj.mapper.TBatchCheckMapper">

    <sql id="dismissSql">
        dis.system_type,
        dis.source_type,
        dis.bank_code,
        dis.system_batch,
        dis.batch_desc,
        dis.total_trans,
        dis.success_trans,
        dis.fail_trans,
        dis.status,
        dis.create_time,
        dis.update_time,
        chk.check_time,
        chk.status chkStatus,
        chk.check_result,
        chk.up_user_name
    </sql>


    <sql id="batchCheckSql">
        id,
        batch_id,
        check_result,
        up_user_id,
        up_user_name,
        check_user_id,
        check_user_name,
        remark,
        create_time,
        check_time,
        update_time
    </sql>
    <insert id="insert" parameterType="list">
        insert into t_batch_check
            (batch_id, batch_no, up_user_id,up_user_name,check_user_id,check_user_name,remark,status)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
             #{item.batchId,jdbcType=BIGINT},
             #{item.batchNo,jdbcType=VARCHAR},
             #{item.upUserId,jdbcType=BIGINT},
             #{item.upUserName,jdbcType=VARCHAR},
             #{item.checkUserId,jdbcType=BIGINT},
             #{item.checkUserName,jdbcType=VARCHAR},
             #{item.remark,jdbcType=VARCHAR},
             #{item.status,jdbcType=TINYINT}
            )
        </foreach>
    </insert>
    <!--授权取消审核提交-->
   <insert id="insertCheck" parameterType="list">
        insert into t_batch_check
            (batch_id,batch_no,type,up_user_id,up_user_name,check_user_id,check_user_name,remark,status)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.batchId,jdbcType=BIGINT},
            #{item.batchNo,jdbcType=VARCHAR},
            #{item.type,jdbcType=TINYINT},
            #{item.upUserId,jdbcType=BIGINT},
            #{item.upUserName,jdbcType=VARCHAR},
            #{item.checkUserId,jdbcType=BIGINT},
            #{item.checkUserName,jdbcType=VARCHAR},
            #{item.remark,jdbcType=VARCHAR},
            #{item.status,jdbcType=TINYINT}
            )
        </foreach>
    </insert>

    <!--审核员授权取消审批-拒绝操作-->
    <update id="updateStatusByBatchNo" parameterType="list">
        update t_batch_check set
        status = #{status}, check_result = #{checkResult},
        check_user_id = #{admin.id}, check_user_name = #{admin.username},
        update_time = NOW()
        where batch_no in
        (
        <foreach collection="batchNo" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </update>

    <sql id="withholdCancleSqlList">
        cancle.id,
        cancle.system_type,
        cancle.source_type,
        cancle.bank_code,
        cancle.bank_name,
        cancle.system_batch,
        cancle.fin_label_cd,
        cancle.project_no,
        cancle.agreement_id,
        cancle.bizserial_no,
        cancle.mobile_no,
        cancle.card_no,
        cancle.customer_name,
        cancle.cert_type,
        cancle.cert_no,
        cancle.own_spec,
        cancle.re_own_spec,
        cancle.status,
        cancle.is_send,
        cancle.bank_ret_code,
        cancle.reason,
        cancle.contract_date,
        cancle.end_date,
        sms.check_no,
        sms.single_max,
        sms.day_max,
        sms.month_max,
        sms.sum_max,
        sms.start_date,
        sms.end_date

    </sql>

    <select id="getListToBatchNo" resultType="com.xhnj.model.TWithholdCancleExcel">
        SELECT
        <include refid="withholdCancleSql" />
        FROM t_withhold_cancle cancle left join t_withhold_agree_sms sms on cancle.bizserial_no = sms.bizserial_no
        WHERE system_batch
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>


    <select id="secChenckOne" resultType="java.lang.Long">
       SELECT count(batch_id) from t_batch_check where batch_no=#{batchno,jdbcType=VARCHAR}
    </select>

    <select id="secBatchOne" resultType="java.lang.Long">
       SELECT id from t_batch_no where batch_no=#{batchno,jdbcType=VARCHAR}
    </select>
    <select id="secDisOne" resultType="java.lang.Long">
       SELECT id from t_dismiss_batch where system_batch=#{batchno,jdbcType=VARCHAR}
    </select>

    <select id="selectCheckPassBatch" resultType="com.xhnj.model.TBatchCheck">
        select batch_no from t_batch_check where status in (0, 2, 3) and batch_no in
        <foreach collection="batchNoList" item="batchNo" index="index" open="(" separator="," close=")">
            #{batchNo,jdbcType=VARCHAR}
        </foreach>

    </select>









































</mapper>