<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhnj.mapper.TBatchNoMapper">
    <sql id="batchNoSql">
        id,
        type,
        is_hold,
        system_type,
        source_type,
        bank_code,
        batch_no,
        system_batch,
        batch_desc,
        total_trans,
        total_amt,
        status,
        success_trans,
        fail_trans,
        process_trans,
        serial_no,
        ret_own_spec,
        create_time,
        update_time


    </sql>
    <select id="listPage" resultType="com.xhnj.model.TBatchNo">
        select <include refid="batchNoSql"/> from t_batch_no where 1=1

        <if test="batchNo.startDate !=null and batchNo.startDate != ''">
            and create_time<![CDATA[ >= ]]>#{batchNo.startDate,jdbcType=TIMESTAMP}
        </if>

        <if test="batchNo.endDate !=null and batchNo.endDate != ''">
            and create_time<![CDATA[ <= ]]>#{batchNo.endDate,jdbcType=TIMESTAMP}
        </if>

        <if test="batchNo.batchNo!=null and batchNo.batchNo!=''">
            and batch_no=#{batchNo.batchNo,jdbcType=VARCHAR}
        </if>
        <if test="batchNo.status!=null and batchNo.status!=''">
            and status=#{batchNo.status,jdbcType=INTEGER}
        </if>


    </select>
    <delete id="deleteById">
        delete from t_batch_no where status=-1 and id=#{id}
    </delete>

    <select id="getFeeMoneySum" resultType="com.xhnj.pojo.query.FeeMoneyQuery">
        select * from (
            SELECT #{param.startDate} '~' #{param.endDate} time,
                     sum(t.success_trans) success_trans,
                     (select bank_name from t_bank_code_mapp where bank_code = t.bank_code) bank_name,
                     sum(t.success_trans) * 0.1 as feeMoney
            from t_batch_no t
            where 1 = 1

            <if test="param.startDate != null and param.startDate != ''">
                and date_format(create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{param.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>

            <if test="param.endDate != null and param.endDate != ''">
                and date_format(create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{param.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>
            group by bank_code
        ) t1 where success_trans > 0
    </select>
</mapper>