<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhnj.mapper.TBatchCheckMapper">

    <sql id="dismissSql">
        dis.system_type,
        dis.source_type,
        dis.bank_code,
        dis.system_batch,
        dis.batch_desc,
        dis.total_trans,
        dis.success_trans,
        dis.fail_trans,
        dis.status,
        dis.create_time,
        dis.update_time,
        chk.check_time,
        chk.status chkStatus,
        chk.check_result,
        chk.up_user_name
    </sql>


    <sql id="batchCheckSql">
        id,
        batch_id,
        check_result,
        up_user_id,
        up_user_name,
        check_user_id,
        check_user_name,
        remark,
        create_time,
        check_time,
        update_time
    </sql>
    <insert id="insert" parameterType="list">
        insert into t_batch_check
            (batch_id, batch_no, up_user_id,up_user_name,check_user_id,check_user_name,remark,status)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
             #{item.batchId,jdbcType=BIGINT},
             #{item.batchNo,jdbcType=VARCHAR},
             #{item.upUserId,jdbcType=BIGINT},
             #{item.upUserName,jdbcType=VARCHAR},
             #{item.checkUserId,jdbcType=BIGINT},
             #{item.checkUserName,jdbcType=VARCHAR},
             #{item.remark,jdbcType=VARCHAR},
             #{item.status,jdbcType=TINYINT}
            )
        </foreach>
    </insert>
    <!--授权取消审核提交-->
   <insert id="insertCheck" parameterType="list">
        insert into t_batch_check
            (batch_id,batch_no,type,up_user_id,up_user_name,check_user_id,check_user_name,remark,status)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.batchId,jdbcType=BIGINT},
            #{item.batchNo,jdbcType=VARCHAR},
            #{item.type,jdbcType=TINYINT},
            #{item.upUserId,jdbcType=BIGINT},
            #{item.upUserName,jdbcType=VARCHAR},
            #{item.checkUserId,jdbcType=BIGINT},
            #{item.checkUserName,jdbcType=VARCHAR},
            #{item.remark,jdbcType=VARCHAR},
            #{item.status,jdbcType=TINYINT}
            )
        </foreach>
    </insert>

    <!--审核员授权取消审批-拒绝操作-->
    <update id="updateStatusByBatchNo" parameterType="list">
        update t_batch_check set
        status = #{status}, check_result = #{checkResult}, check_user_id = #{admin.id}, check_user_name = #{admin.username}
        where batch_no in
        (
        <foreach collection="batchNo" item="item" index="index" separator=",">
            #{item}
        </foreach>
        )
    </update>

    <select id="getListToBatchNo" resultType="com.xhnj.model.TBatchCheckSuccessExcel">
        select
        <include refid="dismissSql"/>
        from t_dismiss_batch dis left join t_dismiss_batch_check chk on dis.id = chk.batch_id
        where 1 = 1
        <if test="dismissBatch.startTime != null">
            and date_format(dis.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{dismissBatch.startTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>
        <if test="dismissBatch.endTime != null">
            and date_format(dis.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{dismissBatch.endTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>
        <if test="dismissBatch.status !=null and dismissBatch.status != ''">
            and dis.status=#{dismissBatch.status,jdbcType=INTEGER}
        </if>
        <if test="dismissBatch.upUserName != null and dismissBatch.upUserName != ''">
            and chk.up_user_name=#{dismissBatch.upUserName,jdbcType=VARCHAR}
        </if>
    </select>


    <select id="secChenckOne" resultType="java.lang.Long">
       SELECT count(batch_id) from t_batch_check where batch_no=#{batchno,jdbcType=VARCHAR}
    </select>

    <select id="secBatchOne" resultType="java.lang.Long">
       SELECT id from t_batch_no where batch_no=#{batchno,jdbcType=VARCHAR}
    </select>
    <select id="secDisOne" resultType="java.lang.Long">
       SELECT id from t_dismiss_batch where system_batch=#{batchno,jdbcType=VARCHAR}
    </select>
</mapper>