<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhnj.mapper.TBatchDtlMapper">


    <sql id="plaSql">
        id,
        is_timming,
        batch_no,
        agreement_id,
        source_type,
        bank_code,
        order_no,
        pay_type,
        trade_time,
        pay_recv,
        currency,
        CONVERT(money/100, decimal(15,2)) AS "money",
        recv_account,
        recv_account_name,
        recv_bank_no,
        recv_bank_name,
        card_no,
        customer_name,
        pay_bank_no,
        pay_bank_name,
        usages,
        summary,
        postscript,
        create_time
    </sql>

    <insert id="addBatch" parameterType="list">
        INSERT INTO t_batch_dtl
        (batch_no,           agreement_id,                 from_type,                bank_code,                 order_no,
        pay_type,           trade_time,                    pay_recv,                 currency,                  money,
        recv_account,       recv_account_name,             recv_bank_no,             recv_bank_name,            card_no,
        customer_name,      pay_bank_no,                   pay_bank_name,            usages,                    summary,
        postscript

        )
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
            #{item.batchNo,jdbcType=VARCHAR},
            #{item.agreementId, jdbcType=VARCHAR},
            #{item.fromType,jdbcType=INTEGER} ,
            #{item.bankCode,jdbcType=VARCHAR} ,
            #{item.orderNo,jdbcType=VARCHAR} ,
            #{item.payType,jdbcType=INTEGER} ,
            now(),
            #{item.payRecv,jdbcType=INTEGER} ,
            #{item.currency,jdbcType=VARCHAR} ,
            #{item.money,jdbcType=DECIMAL} ,
            #{item.recvAccount,jdbcType=VARCHAR}  ,
            #{item.recvAccountName,jdbcType=VARCHAR}  ,
            #{item.recvBankNo,jdbcType=VARCHAR}  ,
            #{item.recvBankName,jdbcType=VARCHAR}  ,
            #{item.cardNo,jdbcType=VARCHAR}  ,
            #{item.customerName,jdbcType=VARCHAR}   ,
            #{item.payBankNo,jdbcType=VARCHAR},
            #{item.payBankName,jdbcType=VARCHAR},
            #{item.usages,jdbcType=VARCHAR},
            #{item.summary,jdbcType=VARCHAR},
            #{item.postscript,jdbcType=VARCHAR}

            )
        </foreach >
    </insert>



    <select id="getByBatchNoList" resultType="com.xhnj.pojo.vo.WithholdDetailVO">
        SELECT
           <include refid="plaSql"/>
        FROM t_batch_dtl
        WHERE batch_no IN
        <foreach collection = "list" item = "batchNo" open = "(" close = ")" separator = "," >
             #{batchNo}
        </foreach>
    </select>

    <select id="listPageByBatchNo" resultType="com.xhnj.model.TBatchDtl">
        SELECT
            <include refid="plaSql" />
        FROM t_batch_dtl
        WHERE batch_no = #{batchNo,jdbcType=VARCHAR}
    </select>

    <select id="getList" resultType="com.xhnj.model.WithholdSuccessExcel">
        SELECT
           <include refid="plaSql" />
        FROM t_batch_dtl
        WHERE 1 = 1
        <if test="withholdParam.fromType != null">
            AND source_type = #{withholdParam.fromType,jdbcType=INTEGER}
        </if>
        <if test="withholdParam.payResult != null">
            AND pay_result = #{withholdParam.payResult,jdbcType=INTEGER}
        </if>
        AND batch_no IN
        <foreach collection = "withholdParam.batchNo" item = "batchNo" open = "(" close = ")" separator = "," >
            #{batchNo}
        </foreach>
    </select>


    <select id="getFailList" resultType="com.xhnj.model.WithholdFailExcel">
        SELECT
            <include refid="plaSql" />
        FROM t_batch_dtl
        WHERE 1 = 1
        <if test="withholdParam.fromType != null">
            AND from_type = #{withholdParam.fromType,jdbcType=INTEGER}
        </if>
        <if test="withholdParam.payResult != null">
            AND pay_result = #{withholdParam.payResult,jdbcType=INTEGER}
        </if>
    </select>
</mapper>