<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhnj.mapper.TBatchDtlMapper">





    <sql id="plaSql">
        tbd.id,
        tbd.batch_no,
        tbd.agreement_id,
        tbd.system_type,
        tbd.source_type,
        tbd.bank_code,
        tbd.order_no,
        tbd.pay_type,
        tbd.trade_time,
        tbd.pay_recv,
        tbd.currency,
        ROUND(CAST(tbd.money AS FLOAT)/100, 2) money,
        tbd.recv_account,
        tbd.recv_account_name,
        tbd.recv_bank_no,
        tbd.recv_bank_name,
        tbd.card_no,
        tbd.customer_name,
        tbd.pay_bank_no,
        tbd.pay_bank_name,
        tbd.usages,
        tbd.summary,
        tbd.postscript,
        tbd.create_time,
        tbd.reason,
        tbd.contract_no,
        tbd.pay_result,
        tbd.ret_code,
        tbd.recoState,
        tbd.recoResult,
        CONVERT(varchar(100), trade_time, 23) AS tradedt,
        CONVERT(varchar(100), trade_time, 23) AS effdt,
        'LA' AS belong,
        mapp.recv_acc_no
    </sql>

    <sql id="batchNoSql">
        id,
        type,
        is_hold,
        system_type,
        source_type,
        bank_code,
        batch_no,
        system_batch,
        batch_desc,
        total_trans,
        total_amt,
        status,
        success_trans,
        fail_trans,
        process_trans,
        serial_no,
        ret_own_spec,
        create_time,
        update_time

    </sql>
    <sql id="succsql">

        trade_time,
        SUBSTRING(trade_time,1,10) AS tradedt,
        SUBSTRING(trade_time,1,10) AS effdt,
        money,
        recv_account,
        customer_name,
        CONCAT('BANKPMT',customer_name) AS description,
        contract_no,
        'LA' AS belong
    </sql>
    <insert id="addBatch" parameterType="list">
        INSERT INTO t_batch_dtl
        (batch_no,           agreement_id,                 source_type,                bank_code,                 order_no,
        pay_type,           trade_time,                    pay_recv,                 currency,                  money,
        recv_account,       recv_account_name,             recv_bank_no,             recv_bank_name,            card_no,
        customer_name,      pay_bank_no,                   pay_bank_name,            usages,                    summary,
        postscript,         system_type,                   contract_no,              seq_no

        )
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
            #{item.batchNo,jdbcType=VARCHAR},
            #{item.agreementId, jdbcType=VARCHAR},
            #{item.sourceType,jdbcType=INTEGER},
            #{item.bankCode,jdbcType=VARCHAR} ,
            #{item.orderNo,jdbcType=VARCHAR} ,
            #{item.payType,jdbcType=INTEGER} ,
            GETDATE(),
            #{item.payRecv,jdbcType=INTEGER} ,
            #{item.currency,jdbcType=VARCHAR} ,
            #{item.money,jdbcType=DECIMAL} ,
            #{item.recvAccount,jdbcType=VARCHAR}  ,
            #{item.recvAccountName,jdbcType=VARCHAR}  ,
            #{item.recvBankNo,jdbcType=VARCHAR}  ,
            #{item.recvBankName,jdbcType=VARCHAR}  ,
            #{item.cardNo,jdbcType=VARCHAR}  ,
            #{item.customerName,jdbcType=VARCHAR}   ,
            #{item.payBankNo,jdbcType=VARCHAR},
            #{item.payBankName,jdbcType=VARCHAR},
            #{item.usages,jdbcType=VARCHAR},
            #{item.summary,jdbcType=VARCHAR},
            #{item.postscript,jdbcType=VARCHAR},
            #{item.systemType,jdbcType=INTEGER},
            #{item.contractNo, jdbcType=VARCHAR},
            #{item.seqNo, jdbcType=VARCHAR}
            )
        </foreach >
    </insert>


    <select id="getByBatchNoList" resultType="com.xhnj.pojo.vo.WithholdDetailVO">
        SELECT
           <include refid="plaSql"/>
        FROM t_batch_dtl tbd left join t_bank_code_mapp mapp on tbd.bank_code = mapp.busin_code
        WHERE tbd.batch_no IN
        <foreach collection = "list" item = "batchNo" open = "(" close = ")" separator = "," >
             #{batchNo}
        </foreach>
    </select>

    <select id="listPageByBatchNo" resultType="com.xhnj.model.TBatchDtl">
        SELECT
            <include refid="plaSql" />,
            tbcm.bank_name
        FROM t_batch_dtl tbd left join t_bank_code_mapp mapp on tbd.bank_code = mapp.busin_code
        LEFT JOIN t_bank_code_mapp tbcm ON tbd.bank_code = tbcm.busin_code
        WHERE tbd.batch_no = #{batchNo,jdbcType=VARCHAR}
    </select>

    <!--导出成功回盘-->
    <select id="getList" resultType="com.xhnj.model.WithholdSuccessExcel">
        SELECT
           <include refid="plaSql" />
        FROM t_batch_dtl tbd left join t_bank_code_mapp mapp on tbd.bank_code = mapp.busin_code
        WHERE 1 = 1
        <if test="withholdParam.fromType != null">
            AND tbd.source_type = #{withholdParam.fromType,jdbcType=INTEGER}
        </if>
        <if test="withholdParam.payResult != null">
            AND tbd.pay_result = #{withholdParam.payResult,jdbcType=INTEGER}
        </if>
        AND tbd.batch_no IN
        <foreach collection = "withholdParam.batchNo" item = "batchNo" open = "(" close = ")" separator = "," >
            #{batchNo}
        </foreach>
    </select>


    <select id="getFailList" resultType="com.xhnj.model.WithholdFailExcel">
        SELECT
            <include refid="plaSql" />
        FROM t_batch_dtl tbd left join t_bank_code_mapp mapp on tbd.bank_code = mapp.busin_code
        WHERE 1 = 1
        <if test="withholdParam.fromType != null">
            AND tbd.source_type = #{withholdParam.fromType,jdbcType=INTEGER}
        </if>
        <if test="withholdParam.payResult != null">
            AND tbd.pay_result = #{withholdParam.payResult,jdbcType=INTEGER}
        </if>
        AND tbd.batch_no IN
        <foreach collection = "withholdParam.batchNo" item = "batchNo" open = "(" close = ")" separator = "," >
            #{batchNo}
        </foreach>
    </select>
</mapper>