<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhnj.mapper.TBatchDtlMapper">

    <resultMap id="BaseMap" type="com.xhnj.pojo.query.DisMissBatchQuery">
        <result property="id" column="id" />
        <result property="sourceType" column="source_type" />
        <result property="bankCode" column="bank_code" />
        <result property="systemBatch" column="system_batch" />
        <result property="batchDesc" column="batch_desc" />
        <result property="totalTrans" column="total_trans" />
        <result property="successTrans" column="success_trans" />
        <result property="failTrans" column="fail_trans" />
        <result property="status" column="status" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <collection property="batchCheckList" ofType="com.xhnj.model.TBatchCheck">
            <result property="id" column="de_id" />
            <result property="batchId" column="batch_id" />
            <result property="type" column="type" />
            <result property="status" column="status" />
            <result property="checkResult" column="check_result" />
            <result property="upUserId" column="up_user_id" />
            <result property="upUserName" column="up_user_name" />
            <result property="checkUserId" column="check_user_id" />
            <result property="checkUserName" column="check_user_name" />
            <result property="remark" column="de_pic" />
            <result property="checkTime" column="check_time" />
        </collection>
    </resultMap>

    <sql id="dismissSql">
        dis.id,
        dis.system_type,
        dis.source_type,
        dis.bank_code,
        dis.system_batch,
        dis.batch_desc,
        dis.total_trans,
        dis.success_trans,
        dis.fail_trans,
        dis.status,
        dis.create_time,
        dis.update_time,
        chk.check_time,
        chk.status,
        chk.check_result,
        chk.up_user_name
    </sql>


    <sql id="plaSql">
        id,
        is_timming,
        batch_no,
        agreement_id,
        source_type,
        bank_code,
        order_no,
        pay_type,
        trade_time,
        pay_recv,
        currency,
        CONVERT(money/100, decimal(15,2)) AS "money",
        recv_account,
        recv_account_name,
        recv_bank_no,
        recv_bank_name,
        card_no,
        customer_name,
        pay_bank_no,
        pay_bank_name,
        usages,
        summary,
        postscript,
        create_time
    </sql>

    <sql id="batchNoSql">
        id,
        type,
        is_timming,
        system_type,
        source_type,
        bank_code,
        batch_no,
        system_batch,
        batch_desc,
        total_trans,
        total_amt,
        status,
        success_trans,
        fail_trans,
        process_trans,
        serial_no,
        ret_own_spec,
        create_time,
        update_time


    </sql>

    <insert id="addBatch" parameterType="list">
        INSERT INTO t_batch_dtl
        (batch_no,           agreement_id,                 from_type,                bank_code,                 order_no,
        pay_type,           trade_time,                    pay_recv,                 currency,                  money,
        recv_account,       recv_account_name,             recv_bank_no,             recv_bank_name,            card_no,
        customer_name,      pay_bank_no,                   pay_bank_name,            usages,                    summary,
        postscript

        )
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
            #{item.batchNo,jdbcType=VARCHAR},
            #{item.agreementId, jdbcType=VARCHAR},
            #{item.fromType,jdbcType=INTEGER} ,
            #{item.bankCode,jdbcType=VARCHAR} ,
            #{item.orderNo,jdbcType=VARCHAR} ,
            #{item.payType,jdbcType=INTEGER} ,
            now(),
            #{item.payRecv,jdbcType=INTEGER} ,
            #{item.currency,jdbcType=VARCHAR} ,
            #{item.money,jdbcType=DECIMAL} ,
            #{item.recvAccount,jdbcType=VARCHAR}  ,
            #{item.recvAccountName,jdbcType=VARCHAR}  ,
            #{item.recvBankNo,jdbcType=VARCHAR}  ,
            #{item.recvBankName,jdbcType=VARCHAR}  ,
            #{item.cardNo,jdbcType=VARCHAR}  ,
            #{item.customerName,jdbcType=VARCHAR}   ,
            #{item.payBankNo,jdbcType=VARCHAR},
            #{item.payBankName,jdbcType=VARCHAR},
            #{item.usages,jdbcType=VARCHAR},
            #{item.summary,jdbcType=VARCHAR},
            #{item.postscript,jdbcType=VARCHAR}

            )
        </foreach >
    </insert>

    <select id="getListToBatchNo" resultMap="com.xhnj.model.TBatchCheckSuccessExcel">
        select
        <include refid="dismissSql"/>
        from t_dismiss_batch dis left join t_batch_check chk on dis.id = chk.batch_id
        where 1 = 1
        <if test="dismissBatch.startTime != null">
            and date_format(dis.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{dismissBatch.startTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>
        <if test="dismissBatch.endTime != null">
            and date_format(dis.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{dismissBatch.endTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>
        <if test="dismissBatch.status !=null and dismissBatch.status != ''">
            and dis.status=#{dismissBatch.status,jdbcType=INTEGER}
        </if>
        <if test="dismissBatch.upUserName != null and dismissBatch.upUserName != ''">
            and chk.up_user_name=#{dismissBatch.upUserName,jdbcType=VARCHAR}
        </if>
    </select>


    <select id="getByBatchNoList" resultType="com.xhnj.pojo.vo.WithholdDetailVO">
        SELECT
           <include refid="plaSql"/>
        FROM t_batch_dtl
        WHERE batch_no IN
        <foreach collection = "list" item = "batchNo" open = "(" close = ")" separator = "," >
             #{batchNo}
        </foreach>
    </select>

    <select id="listPageByBatchNo" resultType="com.xhnj.model.TBatchDtl">
        SELECT
            <include refid="plaSql" />
        FROM t_batch_dtl
        WHERE batch_no = #{batchNo,jdbcType=VARCHAR}
    </select>

    <select id="getList" resultType="com.xhnj.model.WithholdSuccessExcel">
        SELECT
           <include refid="plaSql" />
        FROM t_batch_dtl
        WHERE 1 = 1
        <if test="withholdParam.fromType != null">
            AND source_type = #{withholdParam.fromType,jdbcType=INTEGER}
        </if>
        <if test="withholdParam.payResult != null">
            AND pay_result = #{withholdParam.payResult,jdbcType=INTEGER}
        </if>
    </select>


    <select id="getFailList" resultType="com.xhnj.model.WithholdFailExcel">
        SELECT
            <include refid="plaSql" />
        FROM t_batch_dtl
        WHERE 1 = 1
        <if test="withholdParam.fromType != null">
            AND source_type = #{withholdParam.fromType,jdbcType=INTEGER}
        </if>
        <if test="withholdParam.payResult != null">
            AND pay_result = #{withholdParam.payResult,jdbcType=INTEGER}
        </if>
    </select>
</mapper>