<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhnj.mapper.TDeductionDetailMapper">
    <sql id="plaSql">
        id,
        batch_no,
        agreement_id,
        source_type,
        bank_code,
        order_no,
        pay_type,
        trade_time,
        pay_recv,
        currency,
        CONVERT(money/100, decimal(15,2)) AS "money",
        recv_account,
        recv_account_name,
        recv_bank_no,
        recv_bank_name,
        card_no,
        customer_name,
        pay_bank_no,
        pay_bank_name,
        usages,
        summary,
        postscript,
        create_time,
        reason,
        contract_no,
        pay_result,
        ret_code,
        recoState,
        recoResult
    </sql>
    <sql id="expdtl">

    </sql>

    <select id="listPage" resultType="com.xhnj.model.TBatchDtl">
        SELECT
        <include refid="plaSql" />
        FROM t_batch_dtl
        WHERE 1=1
        <if test="tbatchDtl.batchNo!=null and tbatchDtl.batchNo!=''">
            and batch_no=#{tbatchDtl.batchNo,jdbcType=INTEGER}
        </if>
        <if test="tbatchDtl.customerName!=null and tbatchDtl.customerName!=''">
            and customer_name=#{tbatchDtl.customerName,jdbcType=INTEGER}
        </if>
        <if test="tbatchDtl.agreementId!=null and tbatchDtl.agreementId!=''">
            and agreement_id=#{tbatchDtl.agreementId,jdbcType=INTEGER}
        </if>
        <if test="tbatchDtl.bankCode!=null and tbatchDtl.bankCode!=''">
            and bank_code=#{tbatchDtl.bankCode,jdbcType=INTEGER}
        </if>
    </select>
</mapper>