<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhnj.mapper.TDismissBatchMapper">

    <resultMap id="BaseMap" type="com.xhnj.pojo.query.DisMissBatchQuery">
        <result property="id" column="id" />
        <result property="sourceType" column="source_type" />
        <result property="bankCode" column="bank_code" />
        <result property="systemBatch" column="system_batch" />
        <result property="batchDesc" column="batch_desc" />
        <result property="totalTrans" column="total_trans" />
        <result property="successTrans" column="success_trans" />
        <result property="failTrans" column="fail_trans" />
        <result property="status" column="status" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <collection property="batchCheckList" ofType="com.xhnj.model.TBatchCheck">
            <result property="id" column="de_id" />
            <result property="batchId" column="batch_id" />
            <result property="checkResult" column="check_result" />
            <result property="upUserId" column="up_user_id" />
            <result property="upUserName" column="up_user_name" />
            <result property="checkUserId" column="check_user_id" />
            <result property="checkUserName" column="check_user_name" />
            <result property="remark" column="de_pic" />
            <result property="createTime" column="create_time" />
            <result property="checkTime" column="check_time" />
            <result property="updateTime" column="update_time" />
        </collection>
    </resultMap>


    <sql id="dismissSql">
        dis.id,
        dis.system_type,
        dis.source_type,
        dis.bank_code,
        dis.system_batch,
        dis.batch_desc,
        dis.total_trans,
        dis.success_trans,
        dis.fail_trans,
        dis.status,
        dis.create_time,
        dis.update_time
    </sql>

    <insert id="add" parameterType="com.xhnj.model.TDismissBatch">
       insert into t_dismiss_batch(
           system_type,                        source_type,                bank_code,              system_batch,
           total_trans,                       success_trans,                 fail_trans,           status


       ) values(
         #{dismissBatch.systemType},          #{dismissBatch.sourceType},   #{dismissBatch.bankCode},   #{dismissBatch.systemBatch},
         #{dismissBatch.totalTrans},        #{dismissBatch.successTrans},     #{dismissBatch.failTrans},    #{dismissBatch.status}
      )

    </insert>


    <select id="listPageDouble" resultMap="BaseMap">
        select
            <include refid="dismissSql"/>
        from t_dismiss_batch dis left join t_batch_check chk on dis.id = chk.batch_id
        where 1=1
        <if test="dismissBatch.createTime != null">
            and create_time<![CDATA[ >= ]]>#{dismissBatch.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="dismissBatch.systemBatch !=null and dismissBatch.systemBatch != ''">
            and system_batch=#{dismissBatch.systemBatch,jdbcType=VARCHAR}
        </if>
        <if test="dismissBatch.status != null and dismissBatch.status != ''">
            and status=#{dismissBatch.status,jdbcType=INTEGER}
        </if>
    </select>


    <select id="listPage" resultType="com.xhnj.model.TDismissBatch">
        select <include refid="dismissSql"/> from t_dismiss_batch where 1=1
        <if test="dismissBatch.createTime!=null">
            and create_time<![CDATA[ >= ]]>#{dismissBatch.createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="dismissBatch.systemBatch!=null and dismissBatch.systemBatch!=''">
            and system_batch=#{dismissBatch.systemBatch,jdbcType=VARCHAR}
        </if>
        <if test="dismissBatch.status!=null and dismissBatch.status!=''">
            and status=#{dismissBatch.status,jdbcType=INTEGER}
        </if>
    </select>

    <delete id="deleteById">
        delete from t_dismiss_batch where status=-1 and id=#{id}
    </delete>

    <!--授权取消列表分页查询-->
    <select id="cancelPage" resultType="com.xhnj.model.TDismissBatch">
        select  batch.id,
                batch.source_type,
				chk.check_result,
				chk.`status` checkStatus,
				batch.bank_code,
				batch.system_batch,
				batch.batch_desc,
				batch.total_trans,
				batch.`status`,
				batch.success_trans,
				batch.fail_trans,
                batch.create_time
        from t_dismiss_batch batch left join t_dismiss_batch_check chk on batch.id = chk.batch_id
        where 1 = 1
        <if test="dismissBatch.startTime != null and dismissBatch.startTime != ''">
            and date_format(batch.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{dismissBatch.startTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="dismissBatch.endTime != null and dismissBatch.endTime != ''">
            and date_format(batch.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{dismissBatch.endTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="dismissBatch.status != null">
            and batch.status = #{dismissBatch.status,jdbcType=INTEGER}
        </if>

        /* 审核状态*/
        <if test="dismissBatch.checkStatusList != null and dismissBatch.checkStatusList.size() > 0">
            and chk.status = #{dismissBatch.checkStatus,jdbcType=INTEGER}

            and chk.status in
            <foreach collection ="dismissBatch.checkStatusList" item="item" index= "index"  open="(" separator ="," close=")">
               #{item, jdbcType=INTEGER}
            </foreach >
        </if>


        /* 批次号*/
        <if test="dismissBatch.systemBatch != null and dismissBatch.systemBatch != ''">
            and batch.system_batch = #{dismissBatch.systemBatch,jdbcType=VARCHAR}
        </if>


    </select>


    <!--授权取消列表分页查询-->
    <select id="cancelExport" resultType="com.xhnj.model.TDismissBatchExcel">
        select  batch.id,
        batch.source_type,
        chk.check_result,
        chk.`status` checkStatus,
        batch.bank_code,
        batch.system_batch,
        batch.batch_desc,
        batch.total_trans,
        batch.`status`,
        batch.success_trans,
        batch.fail_trans,
        batch.create_time
        from t_dismiss_batch batch left join t_batch_check chk on batch.id = chk.batch_id and chk.type = 1
        where 1 = 1
        <if test="dismissBatch.startTime != null and dismissBatch.startTime != ''">
            and date_format(batch.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{dismissBatch.startTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="dismissBatch.endTime != null and dismissBatch.endTime != ''">
            and date_format(batch.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{dismissBatch.endTime,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="dismissBatch.status != null">
            and batch.status = #{dismissBatch.status,jdbcType=INTEGER}
        </if>

        /* 审核状态*/
        <if test="dismissBatch.checkStatusList != null and dismissBatch.checkStatusList.size() > 0">
            and chk.status = #{dismissBatch.checkStatus,jdbcType=INTEGER}

            and chk.status in
            <foreach collection ="dismissBatch.checkStatusList" item="item" index= "index"  open="(" separator ="," close=")">
                #{item, jdbcType=INTEGER}
            </foreach >
        </if>

        /* 批次号*/
        <if test="dismissBatch.systemBatch != null and dismissBatch.systemBatch != ''">
            and batch.system_batch = #{dismissBatch.systemBatch,jdbcType=VARCHAR}
        </if>


    </select>

</mapper>