<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhnj.mapper.TLogMapper">

    <select id="listPage" resultType="com.xhnj.model.TLog">
        select user_name, operate, object_type, object_name, descript, create_time
        from t_log
        <where>
            <if test="tlog.startDate !=null and tlog.startDate != ''">
                and CONVERT(varchar(100), create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{tlog.startDate}, 23)
            </if>

            <if test="tlog.endDate !=null and tlog.endDate != ''">
                and CONVERT(varchar(100), create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{tlog.endDate}, 23)
            </if>

            <if test="tlog.userName !=null and tlog.userName != ''">
                and user_name = #{tlog.userName, jdbcType=VARCHAR}
            </if>

            <if test="tlog.operate !=null and tlog.operate != ''">
                and operate = #{tlog.operate, jdbcType=VARCHAR}
            </if>

            <if test="tlog.objectType !=null and tlog.objectType != ''">
                and object_type = #{tlog.objectType, jdbcType=VARCHAR}
            </if>

            <if test="tlog.objectName !=null and tlog.objectName != ''">
                and object_name = #{tlog.objectName, jdbcType=VARCHAR}
            </if>
        </where>

        order by create_time desc
    </select>
</mapper>