<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhnj.mapper.TWithholdAgreeMapper">

    <sql id="withholdAgreeSql1">
        id,
        system_type,
        source_type,
        deal_flag,
        bank_code,
        bank_name,
        system_batch,
        fin_label_cd,
        project_no,
        agreement_id,
        bizserial_no,
        mobile_no,
        card_no,
        customer_name,
        cert_type,
        cert_no,
        check_no,
        send_no,
        own_spec,
        re_own_spec,
        status,
        is_send,
        bank_ret_code,
        reason,
        CONVERT(single_max/100, decimal(15,2)) AS "single_max",
        CONVERT(agree.day_max/100, decimal(15,2)) AS "day_max"	,
        CONVERT(agree.month_max/100, decimal(15,2)) AS "month_max",
        CONVERT(sum_max/100, decimal(15,2)) AS "sum_max" ,
        start_date,
        end_date
    </sql>

    <!--未完成授权失败字段-->
    <sql id="notCompletedAuthFailSql">
        agree.id		,
        agree.system_type	,
        agree.source_type	,
/*        agree.deal_flag	,*/
        agree.bank_code	,
        agree.bank_name	,
        agree.system_batch	,
        agree.fin_label_cd	,
        agree.project_no	,
        agree.agreement_id	,
        agree.bizserial_no	,
        agree.mobile_no	,
        agree.card_no		,
        agree.customer_name 	,
        agree.cert_type	,
        agree.cert_no		,
        agree.check_no	,
        agree.send_no		,
        agree.own_spec	,
        agree.re_own_spec	,
        1 `status`		,
        agree.is_send		,
        agree.sms_status	,
        agree.bank_ret_code 	,
        agree.reason		,
        CONVERT(agree.single_max/100, decimal(15,2)) AS "single_max" 	,
        CONVERT(agree.day_max/100, decimal(15,2)) AS "day_max"		,
        CONVERT(agree.month_max/100, decimal(15,2)) AS "month_max",
        CONVERT(agree.sum_max/100, decimal(15,2)) AS "sum_max" ,
        date_format(agree.start_date, '%Y-%m-%d') start_date	,
        date_format(agree.end_date, '%Y-%m-%d') end_date	,
        agree.create_time	,
        agree.update_time   ,
        agree.create_time upload_time
    </sql>

    <insert id="addBatch" parameterType="list">
        INSERT INTO t_withhold_agree
        (source_type,           deal_flag,                 bank_code,                bank_name,system_batch,                 project_no,
        agreement_id,           bizserial_no,              mobile_no,                   card_no,                customer_name,
        cert_type,                cert_no,                     check_no,               send_no,                    own_spec
        )
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
            #{item.sourceType, jdbcType=BIGINT},
            #{item.dealFlag, jdbcType=BIGINT},
            #{item.bankCode,jdbcType=VARCHAR},
            (select bank_name from t_banks where inter_bank_no = #{item.bankCode,jdbcType=VARCHAR}),
            #{item.systemBatch,jdbcType=VARCHAR},
            #{item.projectNo,jdbcType=VARCHAR},
            #{item.agreementId,jdbcType=VARCHAR},
            #{item.bizserialNo,jdbcType=VARCHAR},
            #{item.mobileNo,jdbcType=VARCHAR},
            #{item.cardNo,jdbcType=VARCHAR},
            #{item.customerName,jdbcType=VARCHAR},
            #{item.certType,jdbcType=VARCHAR},
            #{item.certNo,jdbcType=VARCHAR},
            #{item.checkNo,jdbcType=VARCHAR},
            #{item.sendNo,jdbcType=VARCHAR},
            #{item.ownSpec,jdbcType=VARCHAR}
            )
        </foreach >
    </insert>

    <select id="listPageByBatchNo" resultType="com.xhnj.model.TWithholdAgree">
        SELECT
            <include refid="withholdAgreeSql1" />
        FROM t_withhold_agree
        WHERE system_batch = #{batchNo,jdbcType=VARCHAR}
    </select>

    <select id="getByCardNo" resultType="com.xhnj.model.TWithholdAgree">
        SELECT
          source_type,
          status
        FROM t_withhold_agree
        WHERE card_no IN
        <foreach  collection="cardNoList" item="req" open="(" close=")" separator=" or ">
             #{req,jdbcType=VARCHAR}
        </foreach>
        AND deal_flag = #{dealFlag,jdbcType=INTEGER}
    </select>

    <sql id="withholdAgreeSql">
        agree.id		,
        agree.system_type	,
        agree.source_type	,
        agree.bank_code	,
        agree.bank_name	,
        agree.system_batch	,
        agree.fin_label_cd	,
        agree.project_no	,
        agree.agreement_id	,
        agree.bizserial_no	,
        agree.mobile_no	,
        agree.card_no		,
        agree.customer_name 	,
        agree.cert_type	,
        agree.cert_no		,
        agree.check_no	,
        agree.send_no		,
        agree.own_spec	,
        agree.re_own_spec	,
        agree.status		,
        agree.is_send		,
        agree.sms_status	,
        agree.bank_ret_code 	,
        agree.reason		,
        CONVERT(agree.single_max/100, decimal(15,2)) AS "single_max" 	,
        CONVERT(agree.day_max/100, decimal(15,2)) AS "day_max"		,
        CONVERT(agree.month_max/100, decimal(15,2)) AS "month_max",
        CONVERT(agree.sum_max/100, decimal(15,2)) AS "sum_max" ,
        date_format(agree.start_date, '%Y-%m-%d') start_date ,
        date_format(agree.end_date, '%Y-%m-%d') end_date	,
        agree.create_time	,
        agree.update_time   ,
        date_format(agree.create_time, '%Y-%m-%d') upload_time,
        date_format(agree.start_date, '%Y-%m-%d') start_date_string ,
        date_format(agree.end_date, '%Y-%m-%d') end_date_string

    </sql>

    <sql id="selectSuccessSql">
        agree.id		,
        agree.system_type	,
        agree.source_type	,
        agree.bank_code	,
        agree.bank_name	,
        agree.system_batch	,
        agree.fin_label_cd	,
        agree.project_no	,
        agree.agreement_id	,
        agree.bizserial_no	,
        agree.mobile_no	,
        agree.card_no		,
        agree.customer_name 	,
        agree.cert_type	,
        agree.cert_no		,
        agree.check_no	,
        agree.send_no		,
        agree.own_spec	,
        agree.re_own_spec	,
        (case when agree.`status` = 0 then 0 else 5 end) status		,
        agree.is_send		,
        agree.sms_status	,
        agree.bank_ret_code 	,
        agree.reason		,
        CONVERT(agree.single_max/100, decimal(15,2)) AS "single_max" 	,
        CONVERT(agree.day_max/100, decimal(15,2)) AS "day_max"		,
        CONVERT(agree.month_max/100, decimal(15,2)) AS "month_max",
        CONVERT(agree.sum_max/100, decimal(15,2)) AS "sum_max" ,
        date_format(agree.start_date, '%Y-%m-%d') start_date	,
        date_format(agree.end_date, '%Y-%m-%d') end_date	,
        agree.create_time	,
        agree.update_time   ,
        agree.create_time upload_time

    </sql>


    <!--代扣协议短信表字段-->
    <sql id="withholdAgreeSmsSql">
        agree.id		,
        agree.system_type	,
        agree.source_type	,
/*        agree.deal_flag	,*/
        agree.bank_code	,
        agree.bank_name	,
        '' system_batch	,
        '' fin_label_cd	,
        agree.project_no	,
        agree.agreement_id	,
        agree.bizserial_no	,
        agree.mobile_no	,
        agree.card_no		,
        agree.customer_name 	,
        agree.cert_type	,
        agree.cert_no		,
        agree.check_no	,
        '' send_no		,
        agree.own_spec	,
        '' re_own_spec	,
        agree.status		,
        agree.is_send		,
        '' sms_status	,
        agree.bank_ret_code 	,
        agree.reason		,
        CONVERT(agree.single_max/100, decimal(15,2)) AS "single_max" 	,
        CONVERT(agree.day_max/100, decimal(15,2)) AS "day_max"		,
        CONVERT(agree.month_max/100, decimal(15,2)) AS "month_max",
        CONVERT(agree.sum_max/100, decimal(15,2)) AS "sum_max" ,
        agree.start_date	,
        date_format(agree.end_date, '%Y-%m-%d') end_date	,
        agree.create_time	,
        agree.update_time   ,
        agree.create_time upload_time
    </sql>

    <!--未完成授权 > 短信已发送未执行授权 -->
    <sql id="messageSendAndNotCompletedAuth">
        sms.id		,
        sms.system_type	,
        sms.source_type	,
        sms.bank_code	,
        sms.bank_name	,
        '' system_batch	,
        '' fin_label_cd	,
        sms.project_no	,
        sms.agreement_id	,
        sms.bizserial_no	,
        sms.mobile_no	,
        sms.card_no		,
        sms.customer_name 	,
        sms.cert_type	,
        sms.cert_no		,
        sms.check_no	,
        '' send_no		,
        sms.own_spec	,
        '' re_own_spec	,
        2 status		,
        sms.is_send		,
        '' sms_status	,
        sms.bank_ret_code 	,
        sms.reason		,
        CONVERT(sms.single_max/100, decimal(15,2)) AS "single_max" 	,
        CONVERT(sms.day_max/100, decimal(15,2)) AS "day_max"		,
        CONVERT(sms.month_max/100, decimal(15,2)) AS "month_max",
        CONVERT(sms.sum_max/100, decimal(15,2)) AS "sum_max" ,
        date_format(sms.start_date, '%Y-%m-%d') start_date	,
        date_format(sms.end_date, '%Y-%m-%d') end_date	,
        sms.create_time	,
        sms.update_time   ,
        sms.create_time upload_time
    </sql>

    <sql id="withholdCancelField">
        t.id		,
        t.system_type	,
        t.source_type	,
        /*        t.deal_flag	,*/
        t.bank_code	,
        t.bank_name	,
        t.system_batch	,
        t.fin_label_cd	,
        t.project_no	,
        t.agreement_id	,
        t.bizserial_no	,
        t.mobile_no	,
        t.card_no		,
        t.customer_name 	,
        t.cert_type	,
        t.cert_no		,
        t.own_spec	,
        t.re_own_spec	,
        (case when t.`status` = 0 then 3 else 4 end) status		,
        t.is_send		,
        t.bank_ret_code 	,
        t.reason		,
        date_format(t.end_date, '%Y-%m-%d') end_date	,
        t.create_time	,
        t.update_time   ,
        t.update_time upload_time

    </sql>


    <select id="conditionQuery" resultType="com.xhnj.model.TWithholdAgree">
        select <include refid="withholdAgreeSql"/> from t_withhold_agree  agree where 1 = 1

        /*协议编号*/
        <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
            and agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
            and date_format(create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
            and date_format(create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
            and customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
        </if>

        <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
            and mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
            and card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
            and cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
            and bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.status !=null">
            and status = #{withholdAgree.status,jdbcType=INTEGER}
        </if>


    </select>

    <!--授权查询报告页面 精准查询-->
    <select id="selectSuccessList" resultType="com.xhnj.pojo.query.WithholdAgreeQuery">
        select <include refid="selectSuccessSql"/> from t_withhold_agree agree where 1 = 1

        /*协议编号*/
        <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
            and agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
            and date_format(create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
            and date_format(create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
            and customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
        </if>

        <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
            and mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
            and card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
            and cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
            and bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.status !=null">
            and status = #{withholdAgree.status,jdbcType=INTEGER}
        </if>


    </select>

    <!--
        授权报告页面查询：查询成功
        查询逻辑：
        对相同的银行卡 和agreementID来说，判断最后一条记录是成功还是失败及取消，需要结合授权和取消表，确认最后一条记录。是成功还是失败
    -->
    <select id="selectSuccess" resultType="com.xhnj.model.TWithholdAgreeSms">
        select <include refid="withholdAgreeSql"/> from t_withhold_agree agree
        where (agree.agreement_id, agree.card_no, agree.create_time) in (
            select t.agreement_id, t.card_no, max(t.create_time)
            from t_withhold_agree_sms sms left join t_withhold_agree t on sms.agreement_id = t.agreement_id and sms.card_no = t.card_no

            /*协议编号*/
            <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                and t.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                and date_format(t.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>

            <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                and date_format(t.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>

            <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                and t.customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
            </if>

            <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                and t.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                and t.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                and t.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                and t.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.status !=null">
                and t.status = #{withholdAgree.status,jdbcType=INTEGER}
            </if>

            group by t.agreement_id, t.card_no
        )

    </select>

    <!--
        授权报告页面查询：查询授权取消
    -->
    <select id="selectAuthorizationCancel" resultType="com.xhnj.pojo.query.WithholdAgreeQuery">
        select <include refid="withholdCancelField"/> from t_withhold_cancle t
        where 1 = 1

        /*协议编号*/
        <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
            and agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
            and date_format(create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
            and date_format(create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
            and customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
        </if>

        <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
            and mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
            and card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
            and cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
            and bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
        </if>


    </select>

    <!--
        授权报告页面查询：查询授权取消 导出
    -->
    <select id="selectAuthorizationCancelExport" resultType="com.xhnj.model.TWithholdAgreeExcel">
        select <include refid="withholdCancelField"/> from t_withhold_cancle t
        where 1 = 1

        /*协议编号*/
        <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
            and agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
            and date_format(create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
            and date_format(create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
            and customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
        </if>

        <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
            and mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
            and card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
            and cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
            and bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
        </if>


    </select>

    <!--授权报告条件导出-->
    <select id="conditionQueryList" resultType="com.xhnj.model.TWithholdAgreeExcel">
        select <include refid="withholdAgreeSql"/> from t_withhold_agree agree
        where (agree.agreement_id, agree.card_no, agree.create_time) in (
        select t.agreement_id, t.card_no, max(t.create_time)
        from t_withhold_agree_sms sms left join t_withhold_agree t on sms.agreement_id = t.agreement_id and sms.card_no = t.card_no

        /*协议编号*/
        <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
            and t.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
            and date_format(t.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
            and date_format(t.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
            and t.customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
        </if>

        <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
            and t.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
            and t.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
            and t.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
            and t.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.status !=null">
            and t.status = #{withholdAgree.status,jdbcType=INTEGER}
        </if>

        group by t.agreement_id, t.card_no
        )


    </select>

    <!--查出短信表有数据，授权表无数据的卡号+协议号-->
    <select id="selectSmsExistsAndAuthorizationNotExists" resultType="com.xhnj.pojo.query.WithholdAgreeQuery">
        select * from (select card_no, agreement_id from t_withhold_agree_sms group by card_no, agreement_id) t1
        where (t1.agreement_id, t1.card_no) not in
        (
            select card_no, agreement_id from t_withhold_agree_sms sms where (sms.card_no, sms.agreement_id)
             in (select card_no, agreement_id from t_withhold_agree group by card_no, agreement_id)
        )

        <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
            and t1.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
        </if>

        /*协议编号*/
        <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
            and t1.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
        </if>

    </select>

    <!--根据卡号和协议号查询出 未完成授权状态的数据-->
    <select id="selectSmsExistsAndAuthorizationNotExistsList" resultType="com.xhnj.model.TWithholdAgreeSms">
        select <include refid="withholdAgreeSmsSql"/>
        from t_withhold_agree_sms agree where (card_no, agreement_id) in
        (
        <foreach collection="smsList" item="item" open="(" separator="," close=")" index="">
            #{item.cardNo, jdbcType=VARCHAR}, #{item.agreementId, jdbcType=VARCHAR}
        </foreach>
        )

        <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
            and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
            and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
            and agree.customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
        </if>

        <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
            and agree.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
            and agree.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
            and agree.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
        </if>

        order by agree.create_time desc
        limit #{minNumber, jdbcType=INTEGER},#{pageSize, jdbcType=INTEGER}

    </select>

    <!--根据卡号和协议号查询出 未完成授权状态的数据 总数量-->
    <select id="selectSmsExistsAndAuthorizationNotExistsCount" resultType="java.lang.Integer">
        select count(1) countNo
        from t_withhold_agree_sms agree where (card_no, agreement_id) in
        (
        <foreach collection="smsList" item="item" open="(" separator="," close=")" index="">
            #{item.cardNo, jdbcType=VARCHAR}, #{item.agreementId, jdbcType=VARCHAR}
        </foreach>
        )

        <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
            and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
            and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
            and agree.customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
        </if>

        <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
            and agree.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
            and agree.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
            and agree.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
        </if>

    </select>


    <!--短信表、授权表都存在数据，但是授权表对应状态是失败的 count查询-->
    <select id="selectSmsAuthorizationBothExistsCount" resultType="java.lang.Integer">
        select count(1) countNo from t_withhold_agree agree
        where id in (
                select max(t.id)
                from t_withhold_agree_sms sms left join t_withhold_agree t on sms.agreement_id = t.agreement_id and sms.card_no = t.card_no
                where agree.status = 1
        group by t.agreement_id, t.card_no
        )

        <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
            and agree.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
        </if>

        /*协议编号*/
        <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
            and agree.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
            and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
            and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
            and agree.customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
        </if>

        <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
            and agree.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
            and agree.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
            and agree.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
        </if>

    </select>

    <!--短信表、授权表都存在数据，但是授权表对应状态是失败的 数据查询-->
    <select id="selectSmsAuthorizationBothExistsList" resultType="com.xhnj.model.TWithholdAgreeSms">
        select  <include refid="withholdAgreeSql"/> from t_withhold_agree agree
        where id in (
                select max(t.id)
                from t_withhold_agree_sms sms left join t_withhold_agree t on sms.agreement_id = t.agreement_id and sms.card_no = t.card_no
                where agree.status = 1
        group by t.agreement_id, t.card_no
        )

        <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
            and agree.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
        </if>

        /*协议编号*/
        <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
            and agree.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
            and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
            and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
        </if>

        <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
            and agree.customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
        </if>

        <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
            and agree.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
            and agree.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
            and agree.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
        </if>

    </select>

    <!--未完成授权状态查询-->
    <select id="notCompletedAuth" resultType="com.xhnj.pojo.query.WithholdAgreeQuery">
        SELECT * from (
            select <include refid="messageSendAndNotCompletedAuth"/>
            from t_withhold_agree_sms sms left join t_withhold_agree agree
            on sms.agreement_id = agree.agreement_id and sms.card_no = agree.card_no
            where agree.id is null

            <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                and sms.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
            </if>

            /*协议编号*/
            <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                and sms.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                and date_format(sms.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>

            <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                and date_format(sms.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>

            <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                and sms.customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
            </if>

            <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                and sms.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                and sms.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                and sms.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
            </if>

            union

            select <include refid="notCompletedAuthFailSql"/> from t_withhold_agree agree
            where (agree.agreement_id, agree.card_no, agree.create_time) in (
                select t.agreement_id, t.card_no,max(t.create_time)
                from t_withhold_agree_sms sms left join t_withhold_agree t on sms.agreement_id = t.agreement_id and sms.card_no = t.card_no
                where t.status = 1
                group by t.agreement_id, t.card_no
            )

            <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                and agree.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
            </if>

            /*协议编号*/
            <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                and agree.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>

            <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>

            <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                and agree.customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
            </if>

            <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                and agree.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                and agree.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                and agree.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
            </if>

	) t2

    </select>


    <!--未完成授权状态查询导出-->
    <select id="notCompletedAuthExport" resultType="com.xhnj.model.TWithholdAgreeExcel">
        SELECT * from (
            select <include refid="messageSendAndNotCompletedAuth"/> from t_withhold_agree_sms agree
            where (card_no, agreement_id) in (
                select card_no, agreement_id from (select card_no, agreement_id from t_withhold_agree_sms group by card_no, agreement_id) t1
                where (t1.agreement_id, t1.card_no) not in
                (
                select card_no, agreement_id from t_withhold_agree_sms sms where (sms.card_no, sms.agreement_id)
                 in (select card_no, agreement_id from t_withhold_agree group by card_no, agreement_id)
                )
            )

            <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                and agree.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
            </if>

            /*协议编号*/
            <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                and agree.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>

            <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>

            <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                and agree.customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
            </if>

            <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                and agree.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                and agree.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                and agree.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
            </if>

            union

            select <include refid="notCompletedAuthFailSql"/> from t_withhold_agree agree
            where (agree.agreement_id, agree.card_no, agree.create_time) in (
                select t.agreement_id, t.card_no,max(t.create_time)
                from t_withhold_agree_sms sms left join t_withhold_agree t on sms.agreement_id = t.agreement_id and sms.card_no = t.card_no
                where t.status = 1
                group by t.agreement_id, t.card_no
            )

            <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                and agree.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
            </if>

            /*协议编号*/
            <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                and agree.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{withholdAgree.startDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>

            <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                and date_format(agree.create_time, '%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{withholdAgree.endDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
            </if>

            <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                and agree.customer_name like "%"#{withholdAgree.customerName,jdbcType=VARCHAR}"%"
            </if>

            <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                and agree.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                and agree.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                and agree.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
            </if>

	) t2

    </select>



    <!--校验福特行号是否存在-->
    <select id="selectBankcode" resultType="com.xhnj.model.TWithholdAgree">
        select bank_name from  t_bank_code_mapp where bank_code=#{bankCode}
    </select>
</mapper>