<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhnj.mapper.TWithholdAgreeMapper">

    <sql id="withholdAgreeSql1">
        id,
        system_type,
        source_type,
        deal_flag,
        bank_code,
        bank_name,
        system_batch,
        fin_label_cd,
        project_no,
        agreement_id,
        bizserial_no,
        mobile_no,
        card_no,
        customer_name,
        cert_type,
        cert_no,
        check_no,
        send_no,
        own_spec,
        re_own_spec,
        status,
        is_send,
        bank_ret_code,
        reason,
        ROUND(CAST(single_max AS FLOAT)/100, 2) single_max,
        ROUND(CAST(day_max AS FLOAT)/100, 2) day_max,
        ROUND(CAST(month_max AS FLOAT)/100, 2) month_max,
        ROUND(CAST(sum_max AS FLOAT)/100, 2) sum_max,
        CONVERT(varchar(100), start_date, 23) start_date_string	,
        CONVERT(varchar(100), end_date, 23) end_date_string	,
    </sql>


    <insert id="addBatch" parameterType="list">
        INSERT INTO t_withhold_agree
        (source_type,           deal_flag,                 bank_code,                bank_name,system_batch,                 project_no,
        agreement_id,           bizserial_no,              mobile_no,                   card_no,                customer_name,
        cert_type,                cert_no,                     check_no,               send_no,                    own_spec
        )
        VALUES
        <foreach collection ="list" item="item" index= "index" separator =",">
            (
            #{item.sourceType, jdbcType=BIGINT},
            #{item.dealFlag, jdbcType=BIGINT},
            #{item.bankCode,jdbcType=VARCHAR},
            (select bank_name from t_banks where inter_bank_no = #{item.bankCode,jdbcType=VARCHAR}),
            #{item.systemBatch,jdbcType=VARCHAR},
            #{item.projectNo,jdbcType=VARCHAR},
            #{item.agreementId,jdbcType=VARCHAR},
            #{item.bizserialNo,jdbcType=VARCHAR},
            #{item.mobileNo,jdbcType=VARCHAR},
            #{item.cardNo,jdbcType=VARCHAR},
            #{item.customerName,jdbcType=VARCHAR},
            #{item.certType,jdbcType=VARCHAR},
            #{item.certNo,jdbcType=VARCHAR},
            #{item.checkNo,jdbcType=VARCHAR},
            #{item.sendNo,jdbcType=VARCHAR},
            #{item.ownSpec,jdbcType=VARCHAR}
            )
        </foreach >
    </insert>

    <select id="listPageByBatchNo" resultType="com.xhnj.model.TWithholdAgree">
        SELECT
            <include refid="withholdAgreeSql1" />
        FROM t_withhold_agree
        WHERE system_batch = #{batchNo,jdbcType=VARCHAR}
    </select>

    <select id="getByCardNo" resultType="com.xhnj.model.TWithholdAgree">
        SELECT
          source_type,
          status
        FROM t_withhold_agree
        WHERE card_no IN
        <foreach  collection="cardNoList" item="req" open="(" close=")" separator=" or ">
             #{req,jdbcType=VARCHAR}
        </foreach>
        AND deal_flag = #{dealFlag,jdbcType=INTEGER}
    </select>

    <sql id="withholdAgreeSql">
        agree.id		,
        agree.system_type	,
        agree.source_type	,
        agree.bank_code	,
        agree.bank_name	,
        agree.system_batch	,
        agree.fin_label_cd	,
        agree.project_no	,
        agree.agreement_id	,
        agree.bizserial_no	,
        agree.mobile_no	,
        agree.card_no		,
        agree.customer_name 	,
        agree.cert_type	,
        agree.cert_no		,
        agree.check_no	,
        agree.send_no		,
        agree.own_spec	,
        agree.re_own_spec	,
        agree.status		,
        agree.is_send		,
        agree.sms_status	,
        agree.bank_ret_code 	,
        agree.reason		,
        ROUND(CAST(agree.single_max AS FLOAT)/100, 2) AS "single_max" 	,
        ROUND(CAST(agree.day_max AS FLOAT)/100, 2) AS "day_max"		,
        ROUND(CAST(agree.month_max AS FLOAT)/100, 2) AS "month_max",
        ROUND(CAST(agree.sum_max AS FLOAT)/100, 2) AS "sum_max" ,
        agree.create_time	,
        agree.update_time   ,
        CONVERT(varchar(100), agree.start_date, 23) start_date_string	,
        CONVERT(varchar(100), agree.end_date, 23) end_date_string
    </sql>


    <!--未完成授权 > 短信已发送未执行授权 -->
    <sql id="messageSendAndNotCompletedAuth">
        '' rn,
        sms.id,
        sms.system_type,
        sms.source_type,
        sms.bank_code,
        sms.bank_name,
        sms.project_no,
        sms.agreement_id,
        sms.bizserial_no,
        sms.mobile_no,
        sms.card_no,
        sms.customer_name,
        sms.cert_type,
        sms.cert_no,
        sms.check_no,
        '' send_no,
        sms.own_spec,
        '' re_own_spec,
        2 status,
        sms.is_send,
        sms.bank_ret_code,
        sms.reason,
        ROUND(CAST(sms.single_max AS FLOAT)/100, 2) AS "single_max",
        ROUND(CAST(sms.day_max AS FLOAT)/100, 2) AS "day_max",
        ROUND(CAST(sms.month_max AS FLOAT)/100, 2) AS "month_max",
        ROUND(CAST(sms.sum_max AS FLOAT)/100, 2) AS "sum_max",
        CONVERT ( VARCHAR ( 100 ), sms.start_date, 23 ) start_date_string,
        CONVERT ( VARCHAR ( 100 ), sms.end_date, 23 ) end_date_string,
        sms.create_time,
        sms.update_time,
        CONVERT ( VARCHAR ( 100 ), sms.create_time, 23 ) upload_time

    </sql>

	 <sql id="selectSuccessRowList">
        row_number () OVER ( PARTITION BY agree.card_no, agree.agreement_id ORDER BY agree.create_time DESC ) rn,
        agree.id,
        agree.system_type,
        agree.source_type,
        agree.bank_code,
        agree.bank_name,
        agree.project_no,
        agree.agreement_id,
        agree.bizserial_no,
        agree.mobile_no,
        agree.card_no,
        agree.customer_name,
        agree.cert_type,
        agree.cert_no,
        agree.check_no,
        agree.send_no,
        agree.own_spec,
        agree.re_own_spec,
        agree.status,
        agree.is_send,
        agree.bank_ret_code,
        agree.reason,
        ROUND(CAST(agree.single_max AS FLOAT)/100, 2) AS "single_max" 	,
        ROUND(CAST(agree.day_max AS FLOAT)/100, 2) AS "day_max"		,
        ROUND(CAST(agree.month_max AS FLOAT)/100, 2) AS "month_max",
        ROUND(CAST(agree.sum_max AS FLOAT)/100, 2) AS "sum_max" ,
        CONVERT ( VARCHAR ( 100 ), agree.start_date, 23 ) start_date_string,
        CONVERT ( VARCHAR ( 100 ), agree.end_date, 23 ) end_date_string,
        agree.create_time,
        agree.update_time,
        CONVERT ( VARCHAR ( 100 ), agree.create_time, 23 ) upload_time

    </sql>


    <!--未完成授权状态查询-->
    <select id="notCompletedAuth" resultType="com.xhnj.pojo.query.WithholdAgreeQuery">
        select * from (
            SELECT
            row_number() OVER (PARTITION BY t2.card_no, t2.agreement_id ORDER BY t2.create_time DESC) rownum,
                t2.* from (
                select <include refid="messageSendAndNotCompletedAuth"/>
                from t_withhold_agree_sms sms left join t_withhold_agree agree
                on sms.agreement_id = agree.agreement_id and sms.card_no = agree.card_no
                where agree.id is null

                <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                and sms.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
                </if>


                <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                and sms.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{withholdAgree.startDate}, 23)
                </if>

                <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{withholdAgree.endDate}, 23)
                </if>

                <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                and sms.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
                </if>

                <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                and sms.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                and sms.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                and sms.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
                </if>

                union all

                select * from (
                select
                <include refid="selectSuccessRowList"/>
                from t_withhold_agree agree
                where not exists(select 1 from t_withhold_agree tt where agree.agreement_id = tt.agreement_id and agree.card_no = tt.card_no and tt.status = 0)
                    <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                        and agree.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                        and CONVERT(varchar(100), agree.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{withholdAgree.startDate}, 23)
                    </if>

                    <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                        and CONVERT(varchar(100), agree.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{withholdAgree.endDate}, 23)
                    </if>

                    <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                        and agree.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
                    </if>

                    <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                        and agree.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                        and agree.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                        and agree.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                        and agree.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
                    </if>

                ) t1 where t1.rn = 1 and t1.status = 1
            ) t2
        ) t3 where rownum = 1
        order by t3.create_time desc offset (#{pageNum} - 1) * #{pageSize}  row fetch next #{pageSize} row only

    </select>


    <!--未完成授权状态汇总查询-->
    <select id="notCompletedAuthCount" resultType="java.lang.Integer">
        SELECT count(1) countNo from (
            select * from (
                SELECT
                row_number() OVER (PARTITION BY t2.card_no, t2.agreement_id ORDER BY t2.create_time DESC) rownum,
                t2.* from (
                select
                <include refid="messageSendAndNotCompletedAuth"/>
                from t_withhold_agree_sms sms left join t_withhold_agree agree
                on sms.agreement_id = agree.agreement_id and sms.card_no = agree.card_no
                where agree.id is null

                <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                    and sms.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
                </if>


                <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                    and sms.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                    and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100),
                    #{withholdAgree.startDate}, 23)
                </if>

                <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                    and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100),
                    #{withholdAgree.endDate}, 23)
                </if>

                <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                    and sms.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
                </if>

                <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                    and sms.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                    and sms.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                    and sms.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
                </if>

                union all

                select * from (
                select
                <include refid="selectSuccessRowList"/>
                from t_withhold_agree_sms sms left join t_withhold_agree agree
                on sms.agreement_id = agree.agreement_id and sms.card_no = agree.card_no
                where 1 = 1

                <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                    and sms.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                    and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100),
                    #{withholdAgree.startDate}, 23)
                </if>

                <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                    and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100),
                    #{withholdAgree.endDate}, 23)
                </if>

                <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                    and sms.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
                </if>

                <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                    and sms.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                    and sms.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                    and sms.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                    and sms.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
                </if>

                ) t1 where t1.rn = 1 and t1.status = 1

                ) t2
            ) t3 where rownum = 1

        ) t4

    </select>


    <!--未完成授权状态查询导出-->
    <select id="notCompletedAuthExport" resultType="com.xhnj.model.TWithholdAgreeExcel">
        select * from
        (
            select row_number() OVER (PARTITION BY t2.card_no, t2.agreement_id ORDER BY t2.create_time DESC) rownum,
            t2.* from (
                select
                    <include refid="messageSendAndNotCompletedAuth"/>
                from t_withhold_agree_sms sms left join t_withhold_agree agree
                on sms.agreement_id = agree.agreement_id and sms.card_no = agree.card_no
                where agree.id is null
                    <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                        and sms.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                        and sms.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                        and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{withholdAgree.startDate}, 23)
                    </if>

                    <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                        and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{withholdAgree.endDate}, 23)
                    </if>

                    <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                        and sms.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
                    </if>

                    <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                        and sms.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                        and sms.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                        and sms.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
                    </if>
                union all

                select * from (
                    select
                        <include refid="selectSuccessRowList"/>
                    from t_withhold_agree agree
                    where not exists(select 1 from t_withhold_agree tt where agree.agreement_id = tt.agreement_id and agree.card_no = tt.card_no and tt.status = 0)

                    <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                        and agree.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                        and CONVERT(varchar(100), agree.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{withholdAgree.startDate}, 23)
                    </if>

                    <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                        and CONVERT(varchar(100), agree.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{withholdAgree.endDate}, 23)
                    </if>

                    <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                        and agree.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
                    </if>

                    <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                        and agree.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                        and agree.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                        and agree.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                        and agree.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
                    </if>
                ) t1 where t1.rn = 1 and t1.status = 1
            ) t2
        ) t3 where rownum = 1 order by t3.create_time desc
    </select>


    <!--校验福特行号是否存在-->
    <select id="selectBankcode" resultType="com.xhnj.model.TWithholdAgree">
        select bank_name from  t_bank_code_mapp where bank_code=#{bankCode}
    </select>

    <select id="selectList" resultType="com.xhnj.model.TWithholdAgree">
        select <include refid="withholdAgreeSql"/> from t_withhold_agree  agree where 1 = 1

        /*协议编号*/
        <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
            and agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
            and CONVERT(varchar(100), create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{withholdAgree.startDate}, 23)
        </if>

        <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
            and CONVERT(varchar(100), create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{withholdAgree.endDate}, 23)
        </if>

        <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
            and customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
        </if>

        <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
            and mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
            and card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
            and cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
            and bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
        </if>

        <if test="withholdAgree.status !=null">
            and status = #{withholdAgree.status,jdbcType=INTEGER}
        </if>
    </select>

    <!--授权报告历史查询-->
    <select id="selectAgreeHistory" resultType="com.xhnj.pojo.query.WithholdAgreeQuery">
        select * from (
            SELECT
                id,
                system_type,
                source_type,
                bank_code,
                bank_name,
                project_no,
                agreement_id,
                bizserial_no,
                mobile_no,
                card_no,
                customer_name,
                cert_type,
                cert_no,
                check_no,
                '' send_no,
                own_spec,
                '' re_own_spec,
                status,
                is_send,
                bank_ret_code,
                reason,
                ROUND( CAST ( single_max AS FLOAT ) / 100, 2 ) AS "single_max",
                ROUND( CAST ( day_max AS FLOAT ) / 100, 2 ) AS "day_max",
                ROUND( CAST ( month_max AS FLOAT ) / 100, 2 ) AS "month_max",
                ROUND( CAST ( sum_max AS FLOAT ) / 100, 2 ) AS "sum_max",
                CONVERT ( VARCHAR ( 100 ), start_date, 23 ) start_date_string,
                CONVERT ( VARCHAR ( 100 ), end_date, 23 ) end_date_string,
                create_time,
                update_time,
                CONVERT ( VARCHAR ( 100 ), create_time, 23 ) upload_time

            FROM
                t_withhold_agree_sms sms
                <where>
                    <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                        and sms.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                        and sms.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                        and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{withholdAgree.startDate}, 23)
                    </if>

                    <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                        and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{withholdAgree.endDate}, 23)
                    </if>

                    <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                        and sms.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
                    </if>

                    <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                        and sms.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                        and sms.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
                    </if>

                    <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                        and sms.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
                    </if>
                </where>

            union

            select
                id,
                system_type,
                source_type,
                bank_code,
                bank_name,
                project_no,
                agreement_id,
                bizserial_no,
                mobile_no,
                card_no,
                customer_name,
                cert_type,
                cert_no,
                check_no,
                send_no,
                own_spec,
                re_own_spec,
                (case when status = 0 then 2 else 3 end) status,
                is_send,
                bank_ret_code,
                reason,
                ROUND(CAST(single_max AS FLOAT)/100, 2) AS "single_max" 	,
                ROUND(CAST(day_max AS FLOAT)/100, 2) AS "day_max"		,
                ROUND(CAST(month_max AS FLOAT)/100, 2) AS "month_max",
                ROUND(CAST(sum_max AS FLOAT)/100, 2) AS "sum_max" ,
                CONVERT ( VARCHAR ( 100 ), start_date, 23 ) start_date_string,
                CONVERT ( VARCHAR ( 100 ), end_date, 23 ) end_date_string,
                create_time,
                update_time,
                CONVERT ( VARCHAR ( 100 ), create_time, 23 ) upload_time

            from t_withhold_agree agree

            <where>
                <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                    and agree.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                    and agree.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                    and CONVERT(varchar(100), agree.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{withholdAgree.startDate}, 23)
                </if>

                <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                    and CONVERT(varchar(100), agree.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{withholdAgree.endDate}, 23)
                </if>

                <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                    and agree.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
                </if>

                <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                    and agree.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                    and agree.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                    and agree.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
                </if>
            </where>

            union

            select
                id,
                system_type,
                source_type,
                bank_code,
                bank_name,
                project_no,
                agreement_id,
                bizserial_no,
                mobile_no,
                card_no,
                customer_name,
                cert_type,
                cert_no,
                '' check_no,
                '' send_no,
                own_spec,
                re_own_spec,
                (case when status = 0 then 4
                when status = 1 then 5
                else 6 end) status,
                is_send,
                bank_ret_code,
                reason,
                '' single_max 	,
                '' day_max		,
                '' month_max,
                '' month_max,
                '' start_date_string,
                CONVERT ( VARCHAR ( 100 ), end_date, 23 ) end_date_string,
                create_time,
                update_time,
                CONVERT ( VARCHAR ( 100 ), create_time, 23 ) upload_time

            from t_withhold_cancel cancel

            <where>
                <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                    and cancel.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                    and cancel.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                    and CONVERT(varchar(100), cancel.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{withholdAgree.startDate}, 23)
                </if>

                <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                    and CONVERT(varchar(100), cancel.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{withholdAgree.endDate}, 23)
                </if>

                <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                    and cancel.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
                </if>

                <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                    and cancel.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                    and cancel.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
                </if>

                <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                    and cancel.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
                </if>
            </where>

            ) t1 order by t1.create_time
    </select>


    <!--授权报告历史导出-->
    <select id="selectAgreeHistoryExport" resultType="com.xhnj.model.TWithholdAgreeExcel">
        select * from (
        SELECT
        id,
        system_type,
        source_type,
        bank_code,
        bank_name,
        project_no,
        agreement_id,
        bizserial_no,
        mobile_no,
        card_no,
        customer_name,
        cert_type,
        cert_no,
        check_no,
        '' send_no,
        own_spec,
        '' re_own_spec,
        status,
        is_send,
        bank_ret_code,
        reason,
        ROUND( CAST ( single_max AS FLOAT ) / 100, 2 ) AS "single_max",
        ROUND( CAST ( day_max AS FLOAT ) / 100, 2 ) AS "day_max",
        ROUND( CAST ( month_max AS FLOAT ) / 100, 2 ) AS "month_max",
        ROUND( CAST ( sum_max AS FLOAT ) / 100, 2 ) AS "sum_max",
        CONVERT ( VARCHAR ( 100 ), start_date, 23 ) start_date_string,
        CONVERT ( VARCHAR ( 100 ), end_date, 23 ) end_date_string,
        create_time,
        update_time,
        CONVERT ( VARCHAR ( 100 ), create_time, 23 ) upload_time

        FROM
        t_withhold_agree_sms sms
        <where>
            <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                and sms.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                and sms.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{withholdAgree.startDate}, 23)
            </if>

            <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                and CONVERT(varchar(100), sms.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{withholdAgree.endDate}, 23)
            </if>

            <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                and sms.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
            </if>

            <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                and sms.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                and sms.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                and sms.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
            </if>
        </where>

        union

        select
        id,
        system_type,
        source_type,
        bank_code,
        bank_name,
        project_no,
        agreement_id,
        bizserial_no,
        mobile_no,
        card_no,
        customer_name,
        cert_type,
        cert_no,
        check_no,
        send_no,
        own_spec,
        re_own_spec,
        (case when status = 0 then 2 else 3 end) status,
        is_send,
        bank_ret_code,
        reason,
        ROUND(CAST(single_max AS FLOAT)/100, 2) AS "single_max" 	,
        ROUND(CAST(day_max AS FLOAT)/100, 2) AS "day_max"		,
        ROUND(CAST(month_max AS FLOAT)/100, 2) AS "month_max",
        ROUND(CAST(sum_max AS FLOAT)/100, 2) AS "sum_max" ,
        CONVERT ( VARCHAR ( 100 ), start_date, 23 ) start_date_string,
        CONVERT ( VARCHAR ( 100 ), end_date, 23 ) end_date_string,
        create_time,
        update_time,
        CONVERT ( VARCHAR ( 100 ), create_time, 23 ) upload_time

        from t_withhold_agree agree

        <where>
            <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                and agree.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                and agree.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                and CONVERT(varchar(100), agree.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{withholdAgree.startDate}, 23)
            </if>

            <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                and CONVERT(varchar(100), agree.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{withholdAgree.endDate}, 23)
            </if>

            <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                and agree.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
            </if>

            <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                and agree.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                and agree.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                and agree.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
            </if>
        </where>

        union

        select
        id,
        system_type,
        source_type,
        bank_code,
        bank_name,
        project_no,
        agreement_id,
        bizserial_no,
        mobile_no,
        card_no,
        customer_name,
        cert_type,
        cert_no,
        '' check_no,
        '' send_no,
        own_spec,
        re_own_spec,
        (case when status = 0 then 4
        when status = 1 then 5
        else 6 end) status,
        is_send,
        bank_ret_code,
        reason,
        '' single_max 	,
        '' day_max		,
        '' month_max,
        '' month_max,
        '' start_date_string,
        CONVERT ( VARCHAR ( 100 ), end_date, 23 ) end_date_string,
        create_time,
        update_time,
        CONVERT ( VARCHAR ( 100 ), create_time, 23 ) upload_time

        from t_withhold_cancel cancel

        <where>
            <if test="withholdAgree.cardNo !=null and withholdAgree.cardNo != ''">
                and cancel.card_no = #{withholdAgree.cardNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.agreementId != null and withholdAgree.agreementId != ''">
                and cancel.agreement_id = #{withholdAgree.agreementId,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.startDate !=null and withholdAgree.startDate != ''">
                and CONVERT(varchar(100), cancel.create_time, 23) <![CDATA[ >= ]]> CONVERT(varchar(100), #{withholdAgree.startDate}, 23)
            </if>

            <if test="withholdAgree.endDate !=null and withholdAgree.endDate != ''">
                and CONVERT(varchar(100), cancel.create_time, 23) <![CDATA[ <= ]]> CONVERT(varchar(100), #{withholdAgree.endDate}, 23)
            </if>

            <if test="withholdAgree.customerName !=null and withholdAgree.customerName != ''">
                and cancel.customer_name like CONCAT('%',#{withholdAgree.customerName,jdbcType=VARCHAR},'%')
            </if>

            <if test="withholdAgree.mobileNo !=null and withholdAgree.mobileNo != ''">
                and cancel.mobile_no = #{withholdAgree.mobileNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.certNo !=null and withholdAgree.certNo != ''">
                and cancel.cert_no = #{withholdAgree.certNo,jdbcType=VARCHAR}
            </if>

            <if test="withholdAgree.bankCode !=null and withholdAgree.bankCode != ''">
                and cancel.bank_code = #{withholdAgree.bankCode,jdbcType=VARCHAR}
            </if>
        </where>

        ) t1 order by t1.create_time desc
    </select>
</mapper>